@tailwind base;
@tailwind components;
@layer components {
  .stepper-button {
    @apply rounded-full p-5 py-2.5 bg-[#75CC65] text-white border-2 border-transparent transition duration-200 hover:border-[#75CC65] hover:bg-white hover:text-[#75CC65];
  }
}


.tx-green-1 {
    color: #75cc65;
    font-weight: 600;
  }
  
  .wrapper-stepper {
    background-color: #fff;
    padding: 60px;
    /* box-shadow: rgba(0, 0, 0, 0.09); */
  }
  
  .stepper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 660px; */
    position: relative;
    z-index: 0;
    margin-bottom: 24px;
  }
  
  .stepper-progress {
    position: absolute;
    background-color: #c5c5c5;
    height: 2px;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .stepper-progress-bar {
    position: absolute;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #75cc65;
    transition: all 500ms ease;
  }
  
  .stepper-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c5c5c5;
    transition: all 500ms ease;
  }
  
  .stepper-item-counter {
    height: 68px;
    width: 68px;
    display: grid;
    place-items: center;
    background-color: #fff;
    border-radius: 100%;
    border: 2px solid #c5c5c5;
    position: relative;
  }
  
  .stepper-item-counter .icon-success {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    width: 24px;
    transition: all 500ms ease;
  }
  
  .stepper-item-counter .number {
    font-size: 22px;
    transition: all 500ms ease;
  }
  
  .stepper-item-title {
    position: absolute;
    font-size: 14px;
    bottom: -24px;
  }
  
  .stepper-item.success .stepper-item-counter {
    border-color: #75cc65;
    background-color: #c8ebc1;
    color: #fff;
    font-weight: 600;
  }
  
  .stepper-item.success .stepper-item-counter .icon-success {
    opacity: 1;
    transform: scale(1);
  }
  
  .stepper-item.success .stepper-item-counter .number {
    opacity: 0;
    transform: scale(0);
  }
  
  .stepper-item.success .stepper-item-title {
    color: #75cc65;
  }
  
  .stepper-item.current .stepper-item-counter {
    border-color: #75cc65;
    background-color: #75cc65;
    color: #fff;
    font-weight: 600;
  }
  
  .stepper-item.current .stepper-item-title {
    color: #818181;
  }
  
  .stepper-pane {
    color: #333;
    /* box-shadow: 0 8px 12px rgba(0, 0, 0, 0.09); */
    margin: 40px 0;
  }
  
  .controls {
    display: flex;
  }

  
  .btn:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .checkmark {
    /* width: 40px; */
    /* height: 40px; */
    border-radius: 50%;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation:
      fill 0.4s ease-in-out 0.4s forwards,
      scale 0.3s ease-in-out 0.9s both;
  }
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%,
    100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }
  